<div class="site-footer-inner">
  <div>
    <strong>Utah Oasis Homes</strong><br />
    Southern Utah • Wasatch Front
  </div>
   <div>
    Phone: <a href="tel:+18018593317">(801) 859-3317</a>
  </div>
  <div>
    Email: <a href="mailto:info@utahoasishomes.com">info@utahoasishomes.com</a>
  </div> 
  <div>
    &copy; {new Date().getFullYear()} Utah Oasis Homes. All rights reserved.
  </div>
</div>
