<div class="site-footer-inner">
  <div>
    <strong>Utah Oasis Homes</strong><br />
    Southern Utah • Wasatch Front
  </div>
  <div>
    <div>Phone: (801) 859-3317</div>
    <div>Email: info@utahoasishomes.com</div>
  </div>
  <div>
    &copy; {new Date().getFullYear()} Utah Oasis Homes. All rights reserved.
  </div>
</div>
